
.input-title {
  font-size: large;
  font-weight: 500;
  margin-top: 1em;
}

textarea {
  font-family: 'Roboto Mono', monospace;
  resize: none;
}

input {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  flex-grow: 1;
}