:root {
  --white: #fff9e9;
  --grey:  #68655c;
  --green: #5a8100;
  --yellow: #ffb400;
  --orange: #ff6c02;
  background-color: var(--white);
  color: var(--grey);
  font-family: 'Montserrat', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: smaller;
}

.base {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding-left: 10em;
  padding-right: 10em;
  justify-content: center;
}

.centered {
  align-self: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.input-title {
  font-size: medium;
  margin-top: 1em;
}

.button {
  padding: 10px;
  margin:10px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px;
  user-select: none;
  text-decoration: none;
  width: fit-content;
  align-self: center;
}

.button.green {
  color: var(--white);
  border-color: var(--green);
  background-color: var(--green);
}

.button.orange {
  color: var(--white);
  border-color: var(--orange);
  background-color: var(--orange);
}

.button.green:hover {
  transition: 0.5s;
  color: var(--green);
  background-color: var(--white);
}

.button.orange:hover {
  transition: 0.1s;
  color: var(--orange);
  background-color: var(--white);
}